.blog-img{
    width: 800px;
    height: 400px;
}
.blog-container{
    margin: 50px;
    border-bottom:  2px solid rgba(17, 17, 17, 0.10);

}
.name-img{
    display: flex;
    align-items: center;
}
.name-container{
    display: flex;
    justify-content: space-between;
}
.name-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name-img h3{
    margin: 0;
}
.name-sec p{
    color: rgba(17, 17, 17, 0.60);

    font-family: "Exo 2";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    margin: 0;
}
.info-container h2{
    color: #111;
    font-family: "Exo 2";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 64px */
    margin:  0;
 }
 .info-container button{
    color: #6047EC;
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin: 20px 0px;
 }